/*****************************************************************************/
/*****************************************************************************/
/********************************* NORMALIZE **********************************/
/*****************************************************************************/
/*****************************************************************************/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/
html{
 	font-family: 'Lato', sans-serif;
	color: #f1d51d;
	background-color: #000;
	font-size: 14px;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}

ul{
    list-style: none;

    padding: 0px;
}  

li{ display: inline-block; }


a {
	text-decoration: none;
	color: #6d6d6d;
	outline: none;
}

a:hover,
a:focus {
	outline: none;
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

body{
    height: 100vh;
}
.wrapper{
    overflow-x: hidden;
    background: url("../img/kosmos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

/*****************************************************************************/
/**************************** FOLDDERY/NAWIGACJA *****************************/
/*****************************************************************************/

.folder{
    width:90px;
    height:90px;
    margin:10px;
    display:inline-block;
    font-size: 15px;
    text-align: center;
}

.folder img{
    width: 70px;
}

.folder p{
    font-size: 16px;
    margin: 0px;
    color: #fff;
}

.folder:hover{
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
    
/*****************************************************************************/
/********************************* MESSAGE **********************************/
/*****************************************************************************/

.message {
	background: #f1d51d;
	color: #ccd8e4;
	text-align: center;
	padding: 1em;
	display: none;
}

@media screen and (max-width: 700px) {
	.message {
		display: block;
        color: #000;
	}
}

/*****************************************************************************/
/********************************* TOOLBAR ***********************************/
/*****************************************************************************/

.toolbar{
    padding: 0px 7px 7px;
    position: relative;
    background: #878787;
    text-align: center;
    cursor: move;    
}

.toolbar span{
    font-size: 15px;
    color: #111;
}

.toolbar a{
    float: right;
    margin-top: -9px;
    margin-right: -8px;
}

.title{
    float: left;
    color: #fff;
    font-size: 14px;
    margin-top: 2px;    
}

.toolbar .title img{
    display: inline-block;
    vertical-align: middle;
    max-width: 25px;
    width: auto;
    margin: -7px -6px 0px;
}

.buttonSmall{
    display: inline-block;
    color: #fff;
    font-size: 11px;
    padding: 4px 19px;
    background: #d22e2e;
    text-align: center;
}  


/*****************************************************************************/
/********************************* O MNIE ************************************/
/*****************************************************************************/

#aboutMe{
    width: 710px;
    height: auto;
    border: 10px solid #878787;
    background: #111;
    position: absolute;    
}

#content{
    overflow-y:scroll;
    width: 100%;
    height: 450px;
    font-size: 14px;
}
  

/*****************************************************************************/
/********************************* KONTAKT ***********************************/
/*****************************************************************************/

#contact{
    width: 710px;
    height: auto;
    border: 10px solid #878787;
    background: #f8f8f8;    
    position: absolute;    
}
#contentx{
    width: 100%;
    height: 400px;
    font-size: 14px;
    color: #111; 
}

#edit {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #fff;     
    overflow-y:scroll;    
}

/*****************************************************************************/
/******************************** PROJEKTY ***********************************/
/*****************************************************************************/
#myProjects{
    width: 810px;
    height: auto;
    border: 10px solid #878787;
    background: #f8f8f8;
    position: absolute;
}     
   
#contentxx{
    width: 100%;
    height: 450px;
    font-size: 14px;
    color: #111;
    overflow-y:scroll;    
}

#proj-hold{
    margin: 30px;
}

.view {
    margin: 10px;
    border: 5px solid #191919;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    display: inline-block;
}

.view .mask,
.view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative;
  width: 300px;
  height: 200px;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin: 20px 0 0 0
}

.view p {
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}



.view-tenth img {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition:all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.view-tenth .mask {
  background-color: rgba(255, 231, 179, 0.3);
  -webkit-transition:all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(0);
  transform: scale(0);
  color: #333;
  -webkit-transition:all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  color: #333;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition:all 0.5s linear;
  transition: all 0.5s linear;

}

.view-tenth a.info {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition:all 0.5s linear;
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}        
   

/*****************************************************************************/
/********************************** SNAKE ************************************/
/*****************************************************************************/

canvas {
    display: block;
    margin: 0 auto;
}   
#game{
    width: 628px;
    border: 10px solid #878787;
}

#game .toolbar{
    width: 608px;
}
/*****************************************************************************/
/********************************* FOOTER ************************************/
/*****************************************************************************/
       
.startBar{
    display:block;
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color: rgba(109, 109, 109, 0.33);
    padding: 0px 0 0 0px;
    z-index: 3;
    color: #fff;
    color: #fff;
}

.start{
    float: left;
    font-size: 30px;
    padding: 0px 10px 5px;
    width: 50px;
}


#clock{
    font-size: 13px;
    float: right;
    padding-top: 3px;
    font-weight: 700;
    margin-right: 5px;
    padding: 3px 10px 6px;
    text-align: center;
}

        
 .ion-social-windows {
    color: white;
    border: none;
}

.start {
    position: relative;
    display: inline-block;
}

.start-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 41px;
    z-index: 1;
}

.start-content img{
    width: 20px;
    float: left;
}

.start-content a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
}

.start-content a:hover {background-color: #ccc}

.start:hover .start-content {
    display: block;

}

.start:hover{
    background-color: #101010;
    color: #38a8ed;
}

 .ion-social-windows:hover {
    color: #38a8ed;
}   

#shutDownPage{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
    background: #000;
}

#shutDownPage img{
    width: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}













/*
RRRR
R  R
R  R
RRR
R  R
R   R - ESPONSIVE
*/



 
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1024px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    #aboutMe{
        width: 100%;
        -webkit-transform: none!important;
        transform: none!important;
    }

    #myProjects{
        width: 100%;
    }  
    
#contact{
    width: 100%;  
}    
    
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    
    .startWrapper{
    display: none;
}
    
    .folder img{
        width: 50px;
    }  
    
    .folder p{
        font-size: 14px;
    }
    .view{
        margin: 5px;
    }    
 
    #proj-hold{
        margin: 15px;
    }    
}

 




/* Custom, iPhone Retina */ 


@media only screen and (max-width: 480px) {
    .folder img{
        width: 40px;
    }    
    
    .folder p{
        font-size: 12px;
    }
    
    #proj-hold{
        width: 320px;
        margin: 0 auto;
    }  

    html{
        min-height: 100%;
    }
}
 




@media only screen and (max-width: 320px) {

}

